<form>
  <div>
    Name
    <input
      class="form-control"
      type="text"
      name="name"
      [(ngModel)]="influencer.name"
    >
  </div>
  <div>
    Category
    <input
      class="form-control"
      type="text"
      name="category"
      [(ngModel)]="influencer.category"
    >
  </div>
  <div>
    Phone
    <input
      class="form-control"
      type="text"
      name="phone"
      [(ngModel)]="influencer.phone"
    >
  </div>
  <div>
    Email
    <input
      class="form-control"
      type="email"
      name="email"
      [(ngModel)]="influencer.email"
    >
  </div>
  <button class="btn btn-success" name="submit" type="submit" (click)="update()">OK</button>
</form>
