<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Striped Table
    </div>
    <div class="card-block">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Company</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Status</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.name}}</td>
          <td>{{user.company}}</td>
          <td>{{user.phone}}</td>
          <td>{{user.email}}</td>
          <td>
            <span class="badge badge-success">Active</span>
          </td>
          <td>
            <a routerLink="/brands/edit/{{user.id}}">
              <i class="fa fa-pencil-square fa-lg" aria-hidden="true"></i>
            </a>
          </td>
          <td>
            <i class="fa fa-trash-o fa-lg" aria-hidden="true" (click)="deleteUser(user)" style="cursor:pointer;"></i>
          </td>
        </tr>
        </tbody>
      </table>
      <ul class="pagination">
        <li class="page-item" routerLinkActive="active"><a class="page-link" (click)="prevPage()">Prev</a></li>
        <li class="page-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a class="page-link" [href]="getUrl(1)">1</a></li>
        <li class="page-item" routerLinkActive="active"><a class="page-link" [href]="getUrl(2)">2</a></li>
        <li class="page-item" routerLinkActive="active"><a class="page-link" (click)="nextPage()">Next</a></li>
      </ul>
    </div>
  </div>
</div>
